body,
html {
  margin:0;
  padding:0;
  color:#000;
  background:#000000;
  font-family: helvetica, arial, sans-serif;
  font-size:14pt;
}

#wrap {
  width:1000px;
  margin:0 auto;
  background:#ffffff;
}

#main {
  float:left;
  width:1000px;
  background:#ffffff;
  border-radius:15px;
  -moz-border-radius:15px;
  padding:10px;
}

#header {
  background:#000000;
  color:white;
  font-size:xx-large;
}

#nav {
  background:#c99;
}

#nav ul {
  margin:0;
  padding-top:14px;
  list-style:none;
  background:#000000;
}

#nav li {
  display:inline;
  margin:0;
  padding:0;
  background:#f80000;
  font-family:;
  font-weight:bold;
  color:#ffffff;
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  -moz-border-top-right-radius:3px;
  -moz-border-top-left-radius:3px;
  padding-left:9px;
  padding-right:9px;
}

#nav li a{
 color:white;
 text-decoration:none;
}

#nav li a:visited{
 color:white;
 text-decoration:none;
}

#nav li a:hover{
 color:white;
 text-decoration:underline;
}

a {
 color:#f80000;
}

a:visited{
 color:#f80000;
}

#footer {
  background:#e5f4fe;
  clear:both;
  font-size: small;
  font-family: verdana, helvetica, arial, sans-serif;
}

#buytickets {
  float:right;
  margin-top:50px;
}

#masthead {
 float:left;
}

#underground-img{
  vertical-align:top;
  margin-top:40px;
  margin-left:15px;
}

.speaker-img{
  box-shadow: 7px 7px 5px #888;
  -moz-box-shadow: 7px 7px 5px #888;
}

.floatleft{
  float:left;
}

.floatright{
  float:right;
}

.clearboth{
 clear:both;
}

img.floatleft{
  margin-right:15px;
}

img.floatright{
  margin-left:15px;
}
