body,
html {
  margin:20px;
  padding:0;
  color:#000;
  background:#000000;
  font-family: helvetica, arial, sans-serif;
  font-size:14pt;
}

h1, h2 {
color:#cdcdcd;
background-color:#333;
width:100%;
padding:5px;
text-shadow: #111 2px 2px 3px;
}

#wrap {
  width:1000px;
  margin:0 auto;
  background:#000;
  margin-bottom:20px;
}

#main {
  float:left;
  width:1000px;
  background:#ffffff;
  border-radius:15px;
  -moz-border-radius:15px;
  padding:15px;
  margin-top:9px;
}

#header {
  background:#000000;
  color:white;
  font-size:xx-large;
}

#nav {
  background:#c99;
}

#nav ul {
  margin:0;
  padding-top:14px;
  list-style:none;
  background:#000000;
}

#nav li {
  display:inline;
  margin:0;
  padding:0;
  background:#f80000;
  font-family:;
  font-weight:bold;
  color:#ffffff;
  border-top-right-radius:3px;
  border-top-left-radius:3px;
  -moz-border-top-right-radius:3px;
  -moz-border-top-left-radius:3px;
  padding:9px;
}

#nav li a{
 color:white;
 text-decoration:none;
}

#nav li a:visited{
 color:white;
 text-decoration:none;
}

#nav li a:hover{
 color:white;
 text-decoration:underline;
}

a {
 color:#f80000;
}

a:visited{
 color:#f80000;
}

#footer {
  background:#333;
  clear:both;
  color:#cdcdcd;
  font-size: small;
  margin-left:20px;
  padding-top:10px;
  padding-bottom:10px;
  font-family: verdana, helvetica, arial, sans-serif;
  border-bottom-left-radius:10px;
  -moz-border-bottom-left-radius:10px;
  -webkit-border-bottom-left-radius:10px;
  border-bottom-right-radius:10px;
  -moz-border-bottom-right-radius:10px;
  -webkit-border-bottom-right-radius:10px;

}


#footer a{
  color:#cdcdcd;
  text-decoration:none;
  border-bottom: 1px dotted #cdcdcd;
}

#footer a:visited{
  text-decoration:none;
}

#footer a:hover{
  text-decoration:underline;
  border-bottom:none;
}

#footer img{
  vertical-align:middle;
  margin-left:5px;
  margin-right:5px;
}

#footer span{
  padding-top:25px;
}

#buytickets {
  float:right;
  margin-top:50px;
}

#masthead {
 float:left;
}

#underground-img{
  vertical-align:top;
  margin-top:50px;
  margin-left:15px;
}

.speaker-img{
  box-shadow: 7px 7px 5px #888;
  -moz-box-shadow: 7px 7px 5px #888;
}

.floatleft{
  float:left;
}

.floatright{
  float:right;
}

.clearboth{
 clear:both;
}

img.floatleft{
  margin-right:15px;
}

img.floatright{
  margin-left:15px;
}

.slideshow{
  width:310px;
  height:210px;
}
.slideshow img {
  display:none;
}


